#nav {
    background-color: red;
}

#fighters-div {
    display: flex;
    width: 424px;
    flex-wrap: wrap;
    gap: 8px;
    margin: 0 auto;
    ;   
}

.fighter-thumb {
    height: 100px;
    width: 100px;
    transition: transform 0.2s, border 0.2s;
}

.fighter-thumb:hover {
    transform: scale(1.2);
    border: 1px solid red
}